@cworks:registry=https://pkgs.dev.azure.com/Incture-Products-S2P/_packaging/S2P_repo/npm/registry/ 
                        
always-auth=true
timeout=120000000

; begin auth token
//pkgs.dev.azure.com/Incture-Products-S2P/_packaging/S2P_repo/npm/registry/:username=Incture-Products-S2P
//pkgs.dev.azure.com/Incture-Products-S2P/_packaging/S2P_repo/npm/registry/:_password=MmliYnV3ZXZxM3NtbDM0cGJkbXJlYmpsaTZhcGdteW5iYzY3aW5mZWZ5bnFjb2FiM3l5cQ==
//pkgs.dev.azure.com/Incture-Products-S2P/_packaging/S2P_repo/npm/registry/:email=bhupendra.shekawat@incture.com
//pkgs.dev.azure.com/Incture-Products-S2P/_packaging/S2P_repo/npm/:username=Incture-Products-S2P
//pkgs.dev.azure.com/Incture-Products-S2P/_packaging/S2P_repo/npm/:_password=MmliYnV3ZXZxM3NtbDM0cGJkbXJlYmpsaTZhcGdteW5iYzY3aW5mZWZ5bnFjb2FiM3l5cQ==
//pkgs.dev.azure.com/Incture-Products-S2P/_packaging/S2P_repo/npm/:email=bhupendra.shekawat@incture.com
; end auth token


registry=https://registry.npmjs.org/

# @cworks:registry=https://pkgs.dev.azure.com/Incture-Products-S2P/_packaging/S2P_repo/npm/registry/ 
                        
# always-auth=true
# timeout=120000000

# ; begin auth token
# //pkgs.dev.azure.com/Incture-Products-S2P/_packaging/S2P_repo/npm/registry/:username=Incture-Products-S2P
# //pkgs.dev.azure.com/Incture-Products-S2P/_packaging/S2P_repo/npm/registry/:_password=b3hsMm03aHgyMzR6b2l1N3ppdDZ4dno3amI1NnlzaWYzdXFseHozM21zcWxncWRxaG9pYQ==
# //pkgs.dev.azure.com/Incture-Products-S2P/_packaging/S2P_repo/npm/registry/:email=bhupendra.shekawat@incture.com
# //pkgs.dev.azure.com/Incture-Products-S2P/_packaging/S2P_repo/npm/:username=Incture-Products-S2P
# //pkgs.dev.azure.com/Incture-Products-S2P/_packaging/S2P_repo/npm/:_password=b3hsMm03aHgyMzR6b2l1N3ppdDZ4dno3amI1NnlzaWYzdXFseHozM21zcWxncWRxaG9pYQ==
# //pkgs.dev.azure.com/Incture-Products-S2P/_packaging/S2P_repo/npm/:email=bhupendra.shekawat@incture.com
# ; end auth token